* {
    margin: 0;
    padding: 0;
}

body {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins&display=swap');

    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;

    background-image: url(imagenes/wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
}


