/* PROYECTOS */ 

.titulo-proyectos{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 50px;
    font-size: $size-title;
    color: $color-title;
    transition: 1s;
 }

 #carouselExampleIndicators{
    display: grid;
    margin: 20%;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 0px;
    z-index: 0;

    &:hover{
        box-shadow: $size-shadow $color-shadow;
        transition: 0.5s;
    }
}

.row{    
    border: transparent;
    margin-top: 50px;
    margin-bottom: 250px;
    
    .col{
        padding: 50px 2px 20px 2px;
        margin: 10px 0px; 

        iframe{
            box-shadow: 0 5px 20px $color-shadow-black;
            
            &:hover{
                box-shadow: $size-shadow $color-shadow;
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

        h2{
            font-size: 24px;
            font-weight: 600;
            margin-top: 23px;
            color: $color-title;
            text-shadow: $size-shadow $color-shadow-black;
        }
    }
}

.mas-contenido{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    color: $color-title;
    transition: 1s;
}

.proyecto-boton{
    display: flex;
    justify-content: center;
    padding: 60px 0px 250px;

    a{
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 15px 20px; 

        &:hover{
            background-color: $color-hover-botton;
            color: $color-text;
            transition: 0.5s;
        }
    }
}

@media screen and (max-width: 600px){
    .titulo-proyectos{
        font-size: $size-title-query;
        transition: 1s;
    }

    #carouselExampleIndicators{
        display: grid;
        margin: 10%;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 150px;
        z-index: 0;
        transition: 1s;
        box-shadow: $size-shadow $color-shadow;
    }

    .videos-container{
        .row, .col{
            margin: 0px 0px 90px 0px;
            width: 100%;
        }
        .col{
            iframe{
                box-shadow: $size-shadow $color-shadow;
                transform: none;
                
            }

            h2{
                font-size: 15px;
                font-style: italic;
            }
        } 

        &:hover{
            box-shadow: none;
        }

        iframe{
            box-shadow: $size-shadow $color-shadow;
        }
        
    }

    .mas-contenido{
        padding: 0px 18px;
        font-size: 15px;
    }

    .proyecto-boton{
        a{
            padding: 15px 20px;
            font-size: 15px;
            margin-top: -30px;
        }
    }

}