// MIXINS

@mixin botones($relleno, $bg, $color, $font, $none) {
    padding: $relleno;
    background-color: $bg;
    color: $color;
    font-size: $font;
    text-decoration: $none;
}

/*BOTONES INDEX*/
.servicio a{
    @include botones(15px 25px, rgb(29, 29, 29), white, 12px, none);
}

/*BOTON PROYECTOS */

.proyecto-boton a{
    @include botones(15px 20px, white, black, 15px, none);
}

/*BOTONES TARJETAS GRUPO DE TRABAJO*/

.perfil {
    @include botones(8px 40px, white, black, 12px, none);
}