// Colors

$color-black-opacity: rgba(0, 0, 0, 0.856);
$color-title: white;
$color-text: white;
$color-text-nav: white;
$color-p: rgb(154, 179, 216);
$color-botton-service: rgba(78, 78, 78, 0.295);
$color-hover-nav: rgb(59, 92, 163);
$color-shadow: rgba(209, 174, 255, 0.644);
$color-hover-botton: rgb(80, 52, 105);


// Size

$size-navbar: 15px;
$size-title: 50px;
$size-shadow: 0 5px 15px;
